<pre style="background-color:#fafafa;color:#575f66">
<span style="color:#607880;font-style:italic;">/**</span>
<span style="color:#607880;font-style:italic;"> * </span><span style="color:#e6ba7e;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#e6ba7e;font-style:italic;"> 2020 Christoph Cullmann &lt;cullmann@kde.org&gt;</span>
<span style="color:#607880;font-style:italic;"> * </span><span style="color:#e6ba7e;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#e6ba7e;font-style:italic;"> </span><span style="color:#e6ba7e;font-style:italic;">MIT</span>
<span style="color:#607880;font-style:italic;"> */</span>

<span style="color:#607880;font-style:italic;">// </span><span style="color:#399ee6;background-color:#ddecf3;">BEGIN</span>
<span style="color:#f07171;">#include </span><span style="color:#86b300;">&lt;string&gt;</span>
<span style="color:#f07171;">#include </span><span style="color:#86b300;">&lt;QString&gt;</span>
<span style="color:#607880;font-style:italic;">// </span><span style="color:#399ee6;background-color:#ddecf3;">END</span>

<span style="color:#607880;font-style:italic;">/**</span>
<span style="color:#607880;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#607880;font-style:italic;">: improve documentation</span>
<span style="color:#607880;font-style:italic;"> * </span><span style="color:#e6ba7e;font-weight:bold;">@param</span><span style="color:#607880;font-style:italic;"> </span><span style="color:#a37acc;font-weight:bold;">magicArgument</span><span style="color:#607880;font-style:italic;"> some magic argument</span>
<span style="color:#607880;font-style:italic;"> * </span><span style="color:#e6ba7e;font-weight:bold;">@return</span><span style="color:#607880;font-style:italic;"> magic return value</span>
<span style="color:#607880;font-style:italic;"> */</span>
<span style="color:#fa8d3e;">int</span> main(<span style="color:#fa8d3e;">uint64_t</span> magicArgument)
{
    <span style="color:#fa8d3e;font-weight:bold;">if</span> (magicArgument &gt; <span style="color:#ff9940;">1</span>) {
        <span style="color:#399ee6;">const</span> <span style="color:#4cbf99;">std::string</span> string = <span style="color:#86b300;">&quot;source file: </span><span style="color:#4cbf99;">\&quot;</span><span style="color:#86b300;">&quot;</span> <span style="color:#55b4d4;">__FILE__</span> <span style="color:#86b300;">&quot;</span><span style="color:#4cbf99;">\&quot;</span><span style="color:#86b300;">&quot;</span>;
        <span style="color:#399ee6;">const</span> <span style="color:#399ee6;font-weight:bold;">QString</span> qString(<span style="color:#399ee6;font-weight:bold;">QStringLiteral</span>(<span style="color:#86b300;">&quot;test&quot;</span>));
        <span style="color:#fa8d3e;font-weight:bold;">return</span> <span style="color:#f2ae49;">qrand</span>();
    }

    <span style="color:#607880;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#607880;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#399ee6;">const</span> <span style="color:#fa8d3e;">double</span> g = <span style="color:#ff9940;">1.1e12</span> * <span style="color:#ff9940;">0b01'01'01'01</span> - <span style="color:#ff9940;">43</span><span style="color:#f51818;text-decoration:underline;">a</span> + <span style="color:#ff9940;">0x11234</span> * <span style="color:#ff9940;">0234</span><span style="color:#4cbf99;">ULL</span> - <span style="color:#4cbf99;">'c'</span> * <span style="color:#ff9940;">42</span>;
    <span style="color:#fa8d3e;font-weight:bold;">return</span> g &gt; <span style="color:#ff9940;">1.3</span><span style="color:#4cbf99;">f</span>;
}
</pre>
