<pre style="background-color:#1f2430;color:#cbccc6">
<span style="color:#5c6773;font-style:italic;">/**</span>
<span style="color:#5c6773;font-style:italic;"> * </span><span style="color:#ffe6b3;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#ffe6b3;font-style:italic;"> 2020 Christoph Cullmann &lt;cullmann@kde.org&gt;</span>
<span style="color:#5c6773;font-style:italic;"> * </span><span style="color:#ffe6b3;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#ffe6b3;font-style:italic;"> </span><span style="color:#ffe6b3;font-style:italic;">MIT</span>
<span style="color:#5c6773;font-style:italic;"> */</span>

<span style="color:#5c6773;font-style:italic;">// </span><span style="color:#73d0ff;background-color:#2a4254;">BEGIN</span>
<span style="color:#f28779;">#include </span><span style="color:#bae67e;">&lt;string&gt;</span>
<span style="color:#f28779;">#include </span><span style="color:#bae67e;">&lt;QString&gt;</span>
<span style="color:#5c6773;font-style:italic;">// </span><span style="color:#73d0ff;background-color:#2a4254;">END</span>

<span style="color:#5c6773;font-style:italic;">/**</span>
<span style="color:#5c6773;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#5c6773;font-style:italic;">: improve documentation</span>
<span style="color:#5c6773;font-style:italic;"> * </span><span style="color:#ffe6b3;font-weight:bold;">@param</span><span style="color:#5c6773;font-style:italic;"> </span><span style="color:#d4bfff;font-weight:bold;">magicArgument</span><span style="color:#5c6773;font-style:italic;"> some magic argument</span>
<span style="color:#5c6773;font-style:italic;"> * </span><span style="color:#ffe6b3;font-weight:bold;">@return</span><span style="color:#5c6773;font-style:italic;"> magic return value</span>
<span style="color:#5c6773;font-style:italic;"> */</span>
<span style="color:#ffa759;">int</span> main(<span style="color:#ffa759;">uint64_t</span> magicArgument)
{
    <span style="color:#ffa759;font-weight:bold;">if</span> (magicArgument &gt; <span style="color:#ffcc66;">1</span>) {
        <span style="color:#73d0ff;">const</span> <span style="color:#95e6cb;">std::string</span> string = <span style="color:#bae67e;">&quot;source file: </span><span style="color:#95e6cb;">\&quot;</span><span style="color:#bae67e;">&quot;</span> <span style="color:#5ccfe6;">__FILE__</span> <span style="color:#bae67e;">&quot;</span><span style="color:#95e6cb;">\&quot;</span><span style="color:#bae67e;">&quot;</span>;
        <span style="color:#73d0ff;">const</span> <span style="color:#73d0ff;font-weight:bold;">QString</span> qString(<span style="color:#73d0ff;font-weight:bold;">QStringLiteral</span>(<span style="color:#bae67e;">&quot;test&quot;</span>));
        <span style="color:#ffa759;font-weight:bold;">return</span> <span style="color:#ffd580;">qrand</span>();
    }

    <span style="color:#5c6773;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#5c6773;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#73d0ff;">const</span> <span style="color:#ffa759;">double</span> g = <span style="color:#ffcc66;">1.1e12</span> * <span style="color:#ffcc66;">0b01'01'01'01</span> - <span style="color:#ffcc66;">43</span><span style="color:#ff3333;text-decoration:underline;">a</span> + <span style="color:#ffcc66;">0x11234</span> * <span style="color:#ffcc66;">0234</span><span style="color:#95e6cb;">ULL</span> - <span style="color:#95e6cb;">'c'</span> * <span style="color:#ffcc66;">42</span>;
    <span style="color:#ffa759;font-weight:bold;">return</span> g &gt; <span style="color:#ffcc66;">1.3</span><span style="color:#95e6cb;">f</span>;
}
</pre>
