<pre style="background-color:#282a36;color:#f8f8f2">
<span style="color:#6272a4;">/**</span>
<span style="color:#6272a4;"> * </span><span style="color:#ff79c6;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#ff79c6;font-style:italic;"> 2020 Christoph Cullmann &lt;cullmann@kde.org&gt;</span>
<span style="color:#6272a4;"> * </span><span style="color:#ff79c6;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#ff79c6;font-style:italic;"> </span><span style="color:#ff79c6;font-style:italic;">MIT</span>
<span style="color:#6272a4;"> */</span>

<span style="color:#6272a4;">// </span><span style="color:#8be9fd;">BEGIN</span>
<span style="color:#50fa7b;">#include </span><span style="color:#ff79c6;">&lt;string&gt;</span>
<span style="color:#50fa7b;">#include </span><span style="color:#ff79c6;">&lt;QString&gt;</span>
<span style="color:#6272a4;">// </span><span style="color:#8be9fd;">END</span>

<span style="color:#6272a4;">/**</span>
<span style="color:#6272a4;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#6272a4;">: improve documentation</span>
<span style="color:#6272a4;"> * </span><span style="color:#ff79c6;font-weight:bold;">@param</span><span style="color:#6272a4;"> </span><span style="color:#8be9fd;font-weight:bold;">magicArgument</span><span style="color:#6272a4;"> some magic argument</span>
<span style="color:#6272a4;"> * </span><span style="color:#ff79c6;font-weight:bold;">@return</span><span style="color:#6272a4;"> magic return value</span>
<span style="color:#6272a4;"> */</span>
<span style="color:#8be9fd;">int</span> main(<span style="color:#8be9fd;">uint64_t</span> magicArgument)
{
    <span style="color:#ffb86c;font-weight:bold;">if</span> (magicArgument &gt; <span style="color:#ffb86c;">1</span>) {
        <span style="color:#8be9fd;">const</span> <span style="color:#8be9fd;">std::string</span> string = <span style="color:#f1fa8c;">&quot;source file: </span><span style="color:#ff79c6;">\&quot;</span><span style="color:#f1fa8c;">&quot;</span> <span style="color:#50fa7b;">__FILE__</span> <span style="color:#f1fa8c;">&quot;</span><span style="color:#ff79c6;">\&quot;</span><span style="color:#f1fa8c;">&quot;</span>;
        <span style="color:#8be9fd;">const</span> <span style="color:#0095ff;font-weight:bold;">QString</span> qString(<span style="color:#0095ff;font-weight:bold;">QStringLiteral</span>(<span style="color:#f1fa8c;">&quot;test&quot;</span>));
        <span style="color:#ffb86c;font-weight:bold;">return</span> <span style="color:#50fa7b;">qrand</span>();
    }

    <span style="color:#6272a4;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#6272a4;">: bogus integer constant inside next line */</span>
    <span style="color:#8be9fd;">const</span> <span style="color:#8be9fd;">double</span> g = <span style="color:#ffb86c;">1.1e12</span> * <span style="color:#ffb86c;">0b01'01'01'01</span> - <span style="color:#ffb86c;">43</span><span style="color:#ff5555;text-decoration:underline;">a</span> + <span style="color:#ffb86c;">0x11234</span> * <span style="color:#ffb86c;">0234</span><span style="color:#8be9fd;">ULL</span> - <span style="color:#ff79c6;">'c'</span> * <span style="color:#ffb86c;">42</span>;
    <span style="color:#ffb86c;font-weight:bold;">return</span> g &gt; <span style="color:#ffb86c;">1.3</span><span style="color:#8be9fd;">f</span>;
}
</pre>
