<pre style="background-color:#002b36;color:#839496">
<span style="color:#586e75;font-style:italic;">/**</span>
<span style="color:#586e75;font-style:italic;"> * </span><span style="color:#268bd2;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#268bd2;font-style:italic;"> 2020 Christoph Cullmann &lt;cullmann@kde.org&gt;</span>
<span style="color:#586e75;font-style:italic;"> * </span><span style="color:#268bd2;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#268bd2;font-style:italic;"> </span><span style="color:#268bd2;font-style:italic;">MIT</span>
<span style="color:#586e75;font-style:italic;"> */</span>

<span style="color:#586e75;font-style:italic;">// </span><span style="color:#268bd2;background-color:#073642;">BEGIN</span>
<span style="color:#cb4b16;">#include </span><span style="color:#2aa198;">&lt;string&gt;</span>
<span style="color:#cb4b16;">#include </span><span style="color:#2aa198;">&lt;QString&gt;</span>
<span style="color:#586e75;font-style:italic;">// </span><span style="color:#268bd2;background-color:#073642;">END</span>

<span style="color:#586e75;font-style:italic;">/**</span>
<span style="color:#586e75;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#586e75;font-style:italic;">: improve documentation</span>
<span style="color:#586e75;font-style:italic;"> * </span><span style="color:#268bd2;font-weight:bold;">@param</span><span style="color:#586e75;font-style:italic;"> </span><span style="color:#2aa198;font-weight:bold;">magicArgument</span><span style="color:#586e75;font-style:italic;"> some magic argument</span>
<span style="color:#586e75;font-style:italic;"> * </span><span style="color:#268bd2;font-weight:bold;">@return</span><span style="color:#586e75;font-style:italic;"> magic return value</span>
<span style="color:#586e75;font-style:italic;"> */</span>
<span style="color:#b58900;font-weight:bold;">int</span> main(<span style="color:#b58900;font-weight:bold;">uint64_t</span> magicArgument)
{
    <span style="color:#859900;font-weight:bold;">if</span> (magicArgument &gt; <span style="color:#2aa198;">1</span>) {
        <span style="color:#268bd2;">const</span> <span style="color:#cb4b16;">std::string</span> string = <span style="color:#2aa198;">&quot;source file: </span><span style="color:#dc322f;">\&quot;</span><span style="color:#2aa198;">&quot;</span> <span style="color:#859900;">__FILE__</span> <span style="color:#2aa198;">&quot;</span><span style="color:#dc322f;">\&quot;</span><span style="color:#2aa198;">&quot;</span>;
        <span style="color:#268bd2;">const</span> <span style="color:#268bd2;font-weight:bold;">QString</span> qString(<span style="color:#268bd2;font-weight:bold;">QStringLiteral</span>(<span style="color:#2aa198;">&quot;test&quot;</span>));
        <span style="color:#859900;font-weight:bold;">return</span> <span style="color:#268bd2;">qrand</span>();
    }

    <span style="color:#586e75;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#586e75;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#268bd2;">const</span> <span style="color:#b58900;font-weight:bold;">double</span> g = <span style="color:#2aa198;">1.1e12</span> * <span style="color:#2aa198;">0b01'01'01'01</span> - <span style="color:#2aa198;">43</span><span style="color:#dc322f;text-decoration:underline;">a</span> + <span style="color:#2aa198;">0x11234</span> * <span style="color:#2aa198;">0234</span><span style="color:#cb4b16;">ULL</span> - <span style="color:#2aa198;">'c'</span> * <span style="color:#2aa198;">42</span>;
    <span style="color:#859900;font-weight:bold;">return</span> g &gt; <span style="color:#2aa198;">1.3</span><span style="color:#cb4b16;">f</span>;
}
</pre>
