{{ if .IsTranslated }}
<div class="well">
    <p>{{ i18n "also-available" }}</p>
    {{ range .Translations }}
        {{ if gt .WordCount 0 }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    {{ end }}
</div>
{{ end }}
