{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1 class="error-emoji"></h1>
      <p class="error-text">{{ i18n "pageNotFound" }}</p>
    </div>
  </div>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));

  let path = window.location.pathname;
  if (new RegExp('^\/[a-z]{2}', 'i')) {
    path = path.substr(3);
  }
  window.location.replace('https://' + window.location.hostname + path)
</script>
{{ end }}
